.linksContainer {
    display: flex;
    align-items: center;
}

.btnHome,
.btnAbout,
.btnFavorites,
.btnLogOut {
    
    color: black;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
    border-radius: 50px;
    padding: 10px 20px;
    background-color: #333;
}

.linkHome,
.linkAbout,
.linkFav{
    text-decoration: none;
}

.btnHome:hover
.btnAbout:hover {
    color: white;
    background-color: #555;
}

/* terminar estilos de about y home */