.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a2438;
    color: #fff;
    padding: 1em;
    /* border-bottom: 1px solid #5c5470; */
}

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.buttons a {
    display: inline-flex;
    justify-content: space-between;
    font-family: Bangers, sans-serif;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin-right: 1rem;
}

.buttons a:last-child {
    margin-right: 0;
}

.buttons a:hover, .logout:hover {
    color: #dbd8e3;
}

.logout {
    background-color: transparent;
    border: none;
    font-family: Bangers, sans-serif;
    font-size: 20px;
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
}