@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  width: 400px;
  height: 500px;
  color: #fff;
  background-color: #2a2438;
  border-radius: 50px;
}

form:hover {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
}

.mailCntnr {
  margin-top: 50px;
}

.passCntnr {
  position: relative;
}

.labelEmail,
.labelPassword {
  display: block;
  margin-top: 20px;
  font-family: Bangers, sans-serif;
  font-size: 34px;
}

.inputEmail,
.inputPassword {
  width: 200px;
  position: relative;
  border: 2.5px solid #2a2438;
  padding: 15px 20px;
  margin-top: 20px;
  font-size: 15px;
  text-decoration: rebeccapurple;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  color: white;
}

.inputEmail:focus,
.inputPassword:focus {
  outline: none;
  border: 2px solid #5c5470;
  color: #fff;
}

.togglePassBtn {
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  cursor: pointer;
}

.togglePassBtn:hover svg {
  color: #5c5470;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-family: Bangers, sans-serif;
  font-size: 20px;
  padding: 5px 10px;
  width: 200px;
  background-color: #dbd8e3;
  border-radius: 50px;
  margin-top: 50px;
  margin-left: 100px;
  color: #2a2438;
  cursor: pointer;
}

.errors {
  color: red;
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
}

.icon {
  position: absolute;
  margin-top: 35px;
  margin-left: -35px;
  cursor: pointer;
}
