@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

/* container de todod el form */
.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* container del form seria la card */
.form {
    width: 350px;
    height: 350px;
    color: #fff;
    background-color: #2a2438;
    border-radius: 50px;
}


form:hover {
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
    width: 350px;
}

/* container del mail */
.mailCntnr {
    margin-top: 20px;
}

/* container de la password */
.passCntnr {
    position: relative;
}

/* label del mail y contraseña */
.labelEmail,
.labelPassword {
    display: block;
    margin-top: 20px;
    font-family: Bangers, sans-serif;
    font-size: 34px;
}

/* container de la contraseña y el toggle de la contraseña
.passCntnr {
    position: relative;
} */

/* estilos para input de mail y password */
.inputEmail,
.inputPassword {
    position: relative;
    border: 2.5px solid #2a2438;
    padding: 10px 40px 10px 20px;
    margin-top: 20px;
    font-size: 10px;
    text-decoration: rebeccapurple;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    color: white;
}

/* .inputPassword{
    padding-right: 40px;
} */

.inputEmail:focus,
.inputPassword:focus {
    outline: none;
    border: 2px solid #5c5470;
    color: #FFF;
}

/* togglePassBtn es el boton que muestra o esconde la contraseña */
.togglePassBtn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.togglePassBtn:hover svg {
    color: #5c5470;
    cursor: pointer;
}

/* estilos para el boton del login */
.login {
    display: block;
    margin: 20px auto 0;
    padding: 5px 10px;
    font-size: 20px;
    font-family: Bangers, sans-serif;
    color: #2a2438;
    cursor: pointer;
    /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    background-color: #dbd8e3;; */
    border: none;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
}

.login:hover{
    /* box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5); */
    background-color: #dbd8e3;
}

.errors{
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
