@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  width: 350px;
  height: 350px;
  color: #fff;
  background-color: #2a2438;
  border-radius: 50px;
}

form:hover {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
  width: 350px;
}

.mailCntnr {
  margin-top: 20px;
}

.passCntnr {
  position: relative;
}

.labelEmail,
.labelPassword {
  display: block;
  margin-top: 20px;
  font-family: Bangers, sans-serif;
  font-size: 34px;
}

.inputEmail,
.inputPassword {
  position: relative;
  border: 2.5px solid #2a2438;
  padding: 10px 40px 10px 20px;
  margin-top: 20px;
  font-size: 10px;
  text-decoration: rebeccapurple;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  color: white;
}

.inputEmail:focus,
.inputPassword:focus {
  outline: none;
  border: 2px solid #5c5470;
  color: #fff;
}

.togglePassBtn {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
}

.togglePassBtn:hover svg {
  color: #5c5470;
  cursor: pointer;
}

.login {
  display: block;
  margin: 20px auto 0;
  padding: 5px 10px;
  font-size: 20px;
  font-family: Bangers, sans-serif;
  color: #2a2438;
  cursor: pointer;
  background-color: #dbd8e3;
  border: none;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}

.login:hover {
  background-color: #dbd8e3;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.errors {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.icon {
  position: absolute;
  top: 80%;
  right: 27%;
  transform: translateY(-50%);
  cursor: pointer;
}
