@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.cardsContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-top: 20px;
	gap: 2rem;
}

.select {
	font-family: Bangers, sans-serif;
	font-size: 20px;
	/* text-decoration: #2a2438; */
	color: #2a2438;
	box-decoration-break: slice;
	margin-right: 1rem;
	cursor: pointer;
}

.select:hover {
	text-decoration: #dbd8e3;
	cursor: pointer;
}
